#### 진학 비율, 사교육비, 음주율, 우울감경험률, 흡연율, 비만율을 Indicator 컬럼으로 넣기

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/18_22비만율추가.csv') # 비만율까지 추가되어 있는 데이터프레임
df

,지역,졸업자,진학자,일반고,특성화고,특목고,자율고,기타,취업자,무직자및미상,year,특목고비율,사교육비,음주율,우울감경험률,흡연율,비만율
0,서울,75301,75150,48352,12663,3267,10383,485,2,149,2018,0.043386,41.5,15.4,29.6,5.7,10.1
1,부산,26926,26835,17566,5734,2101,1110,324,3,88,2018,0.078029,31.6,15.9,24.2,5.8,11.9
2,대구,22753,22644,13993,4135,1224,3176,116,1,108,2018,0.053795,33.2,14.3,23.1,6.8,11.2
3,인천,25956,25868,17718,5704,1288,711,447,-,88,2018,0.049622,30.0,15.4,25.4,6.8,11.2
4,광주,16074,16039,12143,2768,612,403,113,2,33,2018,0.038074,31.0,17.8,28.3,8.4,9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,전북,15673,15633,12571,2144,770,86,62,-,40,2022,0.049129,30.3,14.9,29.5,6.3,13.2
81,전남,14937,14898,10479,3316,689,357,57,-,39,2022,0.046127,30.8,13.5,26.2,6.3,12.2
82,경북,20140,20094,14612,3141,1113,1174,54,-,46,2022,0.055263,32.4,16.5,26.7,5.4,14.5
83,경남,29440,29369,23356,3600,1173,891,349,-,71,2022,0.039844,35.4,14.4,27.9,4.8,13.3
84,제주,6392,6357,5000,1107,193,10,47,-,35,2022,0.030194,36.4,9.9,25.8,4.1,16.7

In [4]:
df2 = pd.DataFrame() # 빈 데이터프레임 생성

columns = ['특성화고진학률','특목고진학률','자율고진학율','특+자 진학률','사교육비','음주율','우울감경험률','흡연율','비만율']
values = ['특성화고','특목고','자율고']
i = 0

for i in df.index:
    for j in range(0, 9):
        k = i*9 + j
        df2.loc[k,'지역'] = df.loc[i,'지역']
        df2.loc[k,'Indicator Name'] = f'{columns[j]}'
        df2.loc[k,'year'] = str(df.loc[i,'year'])
        if j <= 2:
            df2.loc[k,'value'] = df.loc[i,f'{values[j]}']/df.loc[i,'졸업자']
        elif j == 3:
            df2.loc[k,'value'] = (df.loc[i,f'{values[j-2]}'] + df.loc[i,f'{values[j-1]}'])/df.loc[i,'졸업자']
        elif j == 4:
            df2.loc[k,'value'] = df.loc[i,'사교육비']
        elif j == 5:
            df2.loc[k,'value'] = df.loc[i,'음주율']
        elif j == 6:
            df2.loc[k,'value'] = df.loc[i,'우울감경험률']
        elif j == 7:
            df2.loc[k,'value'] = df.loc[i,'흡연율']
        elif j == 8:
            df2.loc[k,'value'] = df.loc[i,'비만율']
    i += 1

df2

C:\Users\hslio\AppData\Local\Temp\ipykernel_13700\350975379.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '서울' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2.loc[k,'지역'] = df.loc[i,'지역']
C:\Users\hslio\AppData\Local\Temp\ipykernel_13700\350975379.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '특성화고진학률' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2.loc[k,'Indicator Name'] = f'{columns[j]}'
C:\Users\hslio\AppData\Local\Temp\ipykernel_13700\350975379.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2018' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2.loc[k,'year'] = str(df.loc[i,'year'])

     지역 Indicator Name  year      value
0    서울        특성화고진학률  2018   0.168165
1    서울         특목고진학률  2018   0.043386
2    서울         자율고진학율  2018   0.137887
3    서울        특+자 진학률  2018   0.181272
4    서울           사교육비  2018  41.500000
..   ..            ...   ...        ...
760  제주           사교육비  2022  36.400000
761  제주            음주율  2022   9.900000
762  제주         우울감경험률  2022  25.800000
763  제주            흡연율  2022   4.100000
764  제주            비만율  2022  16.700000

[765 rows x 4 columns]

In [5]:
# year 컬럼 값을 정수로.
df2['year'] = df2['year'].apply(lambda x: int(x))

In [6]:
# 'Indicator18_22.csv'로 저장.
df2.to_csv('Indicator18_22.csv', index = False)